.wrapper{
    width: 400px;
    height: 350px;
    background-color: #fff;    
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
    border-radius: 10px;
}
.title{
    text-align: center;
    font-size: 35px;
    margin-top: 15px;
}
.form{
    display: flex;
    flex-direction: column;
    align-items: center;

}
.labelField{
    width: 350px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}
.inputField{
    width: 100%;
    height: 25px;
    outline: none;
    &:focus{
        border: 2px solid blue;
    }
    
}
.button{
    width: 100px;
    border-radius: 10px;
    height: 33px;
    margin-top: 10px;
    cursor: pointer;
    &:hover{
        background-color: #fff;
        font-size:15px;
    }
}